{% extends '../../dashboard.html' %}

{% block dashboard_title %}
<title>Login</title>
{% endblock dashboard_title %}

{% block dashboard_body %}
<div>
    <h1>Login</h1>

    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}

    <form method="POST" style="margin: auto; width: 50%;">
        {% csrf_token %}
        {{form}}

        {% if login_user %}
        {{otp_form}}
        {% endif %}

        <br>
        <button type="submit" class="btn btn-primary">Login</button>

        <br>
        <a href="{% url 'forget_password' %}">Forget Passowrd!</a>
        <a href="{% url 'registration' %}">Registration</a>
    </form>
</div>
{% endblock dashboard_body %}